
@import './node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body { // type variables
  --font-base-size: 20px;

  --font-1-name: "Montserrat"; 
  --font-1-light: 300;
  --font-1-normal: 400;
  --font-1-regular: var(--font-1-normal);
  --font-1-medium: var(--font-1-normal);
  --font-1-bold: 700;
  --font-1-size: var(--font-base-size);
  --font-1-lh: calc(var(--font-1-size)*1.4);

  --font-2-name: "Times";
  --font-2-light: light;
  --font-2-normal: normal;
  --font-2-regular: var(--font-2-normal);
  --font-2-medium: var(--font-2-normal);
  --font-2-bold: bold;
  --font-2-size: var(--font-base-size);
  --font-2-lh: calc(var(--font-2-size)*1.2);

  --font-1: normal normal normal var(--font-1-size)/var(--font-1-lh) var(--font-1-name), Trebuchet, Arial, sans-serif;
  --font-2: normal normal normal var(--font-2-size)/var(--font-2-lh) var(--font-2-name), Georgia, Serif;
  
  --font-color: #2b2b2b;
  --font-color-light: #cfcfcf;
  --font-color-secondary: rgb(75, 30, 4);
  --font-color-light-secondary: rgb(204, 148, 116);

  --font-1-color: var(--font-color);
  --font-1-color-light: var(--font-color-light);
  
  --font-2-color: var(--font-color-secondary);
  --font-2-color-light: var(--font-color-light-secondary);
}

// sass variables form color theming
$pageBackgroundHex : #ffdead;
$footerBackground: darken($pageBackgroundHex, 15%);
$formBackground: $pageBackgroundHex;
$formInputBorder: darken($pageBackgroundHex, 65%);
$disclaimerBackground: darken($pageBackgroundHex, 65%);

body { // colors global definitions
  --bg-gradient-color-1: #00F3B9;
  --bg-gradient-color-2: #2187FF;
  
  scroll-behavior: smooth;
  background-color: white;
  font: var(--font-1);
  color: var(--font-1-color);
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font: var(--font-1);
  font-weight: var(--font-1-light);
  font-size: calc(var(--font-1-size)*3.5);
  line-height: calc(var(--font-1-lh)*3.5);
}

h2 {
  font-family: var(--font-1);
  color: var(--font-1-color);
  font-size: calc(var(--font-1-size)*2.5);
  line-height: calc(var(--font-1-lh)*2.5);
}

h3 {
  font: var(--font-1);
  font-weight: var(--font-1-bold);
  font-size: calc(var(--font-1-size)*1.5);
  line-height: calc(var(--font-1-lh)*1.5);
}

p {
  font: var(--font-1);
}

#header, #heroheader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    
    h1 {
        text-align: center;
        font-weight: bold;

    }

    h3 {
        text-transform: uppercase;
        font-size: calc(0.8rem + .6vw);
        line-height: 36px;
        text-align: center;
    }

    button { 
        margin: 32px auto;
        display: block;
    }   
}

#header, #sobre, #servicos, #clientes, #footer, #contato {
  padding-top: 3rem;
}


#header {
  height: 100vh;
  position: relative;

  .text-content {
    z-index: 1;
  }
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.4;
      }
  }
}

#sobre {
  p {
    line-height: 1.5;
    color: var(--font-color);
  }
}

#footer {
  position: relative;
  overflow: hidden;
  background-color: darken($pageBackgroundHex, 15%);

  .disclaimer {
    background-color: darken($pageBackgroundHex, 65%);
    color: var(--font-1-color-light);
    line-height: 0.9rem;
  }
}

#servicos {
  .accordion-item {
    border-radius: 16px !important;
    .accordion-header {
      button.accordion-button {
        font-weight: bold;
        color: var(--font-color);
        background-color: #f8f8f8;
        border-radius: 16px;
        box-shadow: 0px 5px 20px 0px #ccc;
      }
    }
  }
}

#clientes {
  .cliente-card {
    height: 280px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 1rem;
      margin-top: 2rem;
      color: var(--font-1-color-light);
    }

    img {
      max-height: 108px;
    }
  }
}

#footer {
  background: linear-gradient(0deg, hsl(21, 100%, 90%), #00000000 50%);
  background-color: #e8e8e8;
  border-bottom: 24px solid #CC8645;
  font-size: 1rem;
  p, span, h4 {
    font-size: 1rem !important;
  }

  ul {
    list-style: square;
    margin: 0;
    padding: 16px;
  }
}

.contactform {

  position: relative;
  padding: 24px;
  border-radius: 4px;
  overflow: hidden;

  * { z-index: 1;}

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--page-background-hex);
    opacity: 0.5;
    z-index: 0;
    transition: opacity 300ms ease;
  }
  
  &:hover {
    &:before {
      opacity: 0.8;
      transition: opacity 300ms ease;
    }
  }

  label {
    font-size: calc(var(--font-1-size)*0.8);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-bottom: 8px; 

    small {
      margin-bottom: 0;
      color: var(--font-1-color);
      opacity: 0.5;
    }
  input, select, textarea {
    padding: 4px;
    outline: none;
    border: 1px solid $formInputBorder;
    border-radius: 4px;
  }
  input:focus, select:focus, textarea:focus {
    box-shadow: inset 0px 0px 3px 0px $formInputBorder;
    color: black;
  }
  }
  .form-status-sending {
    position: absolute;
    background-color: rgba(96, 153, 96, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  } 
  .form-status-sending:after {
    content: '⌛';
    position: absolute;
    font-size: 3rem;
    transform-origin: center;
    top: 45%; left:45%; transform: translate(-50%,-50%);
    animation: rotateTime 1s linear infinite;
  }
  @keyframes rotateTime {
    0%  { transform: rotate(180deg); }
    15% { transform: rotate(180deg);}
    85% { transform: rotate(180deg); }    
    100% { transform: rotate(360deg); }    
  }

  .form-status-error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid rgba(255, 83, 21, 0.486);
    box-shadow: inset 0px 0px 25px 0px coral; 
  }
  .form-status-success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid rgba(20, 238, 0, 0.486);
    box-shadow: inset 0px 0px 50px 0px rgb(80, 255, 197); 
    opacity: 0;
    animation: animateOpacity 4s linear;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-status-success:after {
    content: '✔️ mensagem enviada!';
    font-size: 1rem;
    opacity: 0;
    animation: animateOpacity 5s linear;
    padding: 16px;
    background-color: rgb(157, 218, 175);
    border: 1px solid green;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 0px black;
  }
  @keyframes animateOpacity {
    0%    { opacity: 1; display: block; }
    80%   { opacity: 1; }
    100%  { opacity: 0; }     
  }
}

.custom-colors {
  background-color:#2d3538!important;
  box-shadow: 0 10px 120px 0px rgba(171, 83, 59, 0.5);
}